@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.antdesign-select{
    height: 28px;
}

.antdesign-select .ant-select-selector{
    border-radius: 0 !important;
}