.categoriesCart {
    transition: all 0.3s ease;
}

.categoriesCart:hover {
    transform: translateY(-5px);
    border-color: rgb(219, 175, 2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.alert {
    position: absolute;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
}

.alert.show {
    transform: translateX(0);
}

.general-wrapper {
    position: relative;
}

.general-blur-wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.catalog-container {
    transform: translateX(-100%);
    transition: transform 0.2s ease;
}

.catalog-container.show-catalog {
    transform: translateX(0);
}

.subcategory2-container .input-group {
    transition: all 0.3s ease;
}

.min-category-card {
    transition: 0.3s ease-in-out;
}

.min-category-card:hover {
    transform: translateY(-7px);

}

.slick-slide>div {
    margin: 0 5px;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar1 {
    display: none;
}

/* Mobil cihazlar için */
@media (max-width: 768px) {
    .bar1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bar {
        display: none;
    }

    .bar2 {
        display: none;
    }

    .bar3 {
        display: none;
    }

    .banner-wrapper {
        display: none;
    }

    .general-container {
        width: 100%;
    }

    .min-category-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .min-category-card{
        width: 100%;
        margin-bottom: 10px;
    }

    .min-category-card.img{
        width: 100%;
    }

    .card-main .card{
        width: 345px;
    }
}